html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

main {
	display: flex;
	justify-content: space-between;
	flex-wrap: nowrap;
}

#map {
  width: calc(100% - 260px);;
  height: 100vh;
}

#right-panel {
  width: 180px;
  height: 400px;
  font-family: Roboto, "sans-serif";
  font-size: 16px;
  line-height: 30px;
  margin: 20px auto;
  border-width: 2px;
  text-align: left;
}

#form {
	width: 100%;
}

#submit {
  width: 100%;
  margin: 20px auto 0;
}

#directions-panel {
  margin-top: 10px;
  background-color: #ffee77;
  padding: 10px;
  overflow: auto;
  height: auto;
}

.panel {
  display: none;
}

.active {
  display: block;
}
